# ------------------------------------------------------------------ #
#                                                                    #
#  Python package requirements for extract_bands_fermi unit          #
#                                                                    #
# ------------------------------------------------------------------ #

munch==2.5.0

